/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#777;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

h1, h2, h3, p, li, a {
	color: #3d3d3f;
}

/* body */
body {
	background-color: #f6f5f3;/*#ffffff;*/
	/*color:#555;*/
	position: relative; /* Devin */
	font:1.3em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
	border-bottom:1px solid #999;
	height:auto;
	margin:0 auto;
	width:100%; /*751ps*/
	background-color: #b6baa5;/* Devin Wood */
}
#header h1 {
	/*color:#888;*/
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	/*color:#CCC;*/
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

/* navigation */
#navigation {
	background:#7dce94; /*#fafafa*/;
	border-right:1px solid #999;
	margin:0 auto;
	width:90%; /* 750ox */
	height:40px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	width:16.59%;/*149px*/
	list-style:none;
	font-size: 150%;
}
#navigation a {
	/*color:#555;*/
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}
#navigation a:first-of-type {

border-top-left-radius: 40px;

border-bottom-left-radius: 40px;

}



#navigation a:last-of-type {

border-top-right-radius: 40px;

border-bottom-right-radius: 40px;

}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:80%; /* 751px */

}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:2.1em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

/* footer */
#footer {
	border-top:1px solid #999;
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:90%; /* 751px */
	clear:both;
}

/* Added by Larry Ullman: */
.error, .ad {
	font-weight: bold;
	color: #C00
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #008040;
	background: #FFFFFF;
	border:1px dotted #004080;
}

/* Devin Wood Purchase Related Pages */
.purchase {
	float:left;
	width:28%;
	margin:2%;
	position:relative;
}
